/* Reset default margin and padding and prevent overflow */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100%;
    min-width: 100vw; /* Ensure minimum width is viewport width */
    min-height: 100vh; /* Ensure minimum height is viewport height */
    box-sizing: border-box;
}

/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
    box-sizing: inherit;
}

.loginPageContainer {
    background-color: #0A3A62; /* Dark Blue Background */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #8797AF; /* Cool Gray Background */
    padding: 40px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.title {
    font-size: 2em;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.registerButton {
    background-color: #4C669F; /* A complementary color for the button */
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover */
}

.registerButton:hover {
    background-color: #3B5480;
    transform: translateY(-2px); /* Slight raise effect */
}

.registerButton:focus {
    outline: 2px solid #FFF; /* White outline for focus */
    outline-offset: 2px;
}
